body{
    font-family: Arial;
}
.subscribe-button {
    border: none;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
}

.is-subscribed {
    background-color: rgb(240, 240, 240);
    color: black;
}

.todo-grid,
.todo-input-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;

}

.todo-input-grid{
    margin-bottom: 10px;
}

.add-todo-button{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
}

.delete-todo-button{
    background-color: darkred;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}